#ignore compiled classes and outcome jar
bin/
jar/

#ignore Eclipse-specific settings
.settings/

#ignore log4j generated log file
log4j2.log

#ignore generated .dot and .pdf files
data/*.dot 
data/*.pdf