<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="generating" status="WARN">
    <Appenders>
    	
        <File name="File1" fileName="log4j2.log" bufferedIO="false">
        	<PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
  		</File>
    </Appenders>
    <Loggers>
        <Logger name="generating.Log4jGenerator" level="trace">
            <AppenderRef ref="File1"/>
        </Logger>
        
    </Loggers>
</Configuration>